body {
	padding: 0px;
}

div {
	/* border: 1px solid black; */
	text-align: center;
	margin: 0;
}

button {
	width: 80px;
	height: 40px;
	background: #282828;
	border: 1px solid white;
	color: whitesmoke;
	font-size: 16px;
	border-radius: 4px;
}

.head {
	position: relative;
}

#cover {
	position: absolute;
	left: 0;
}

.bt_con {
	width: 80px;
	height: 40px;
	background: #282828;
	border: 1px solid white;
	color: whitesmoke;
	overflow: hidden;
	position: relative;
	display: none;
	font-size: 16px;
	border-radius: 10px;
	line-height: 40px;
}

#upload_bt,
button {
	width: 120px;
	height: 40px;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
}

#frames_con {
	width: 80%;
	margin: 0 auto;
	display: inline-block;
}

#unselected_frame_num_div {
	width: 80px;
	height: 90px;
	border: 1px solid red;
	position: fixed;
	top: 50%;
	left: 10px;
	display: none;
}

#unselected_frame_num {
	color: red;
	font-size: 50px;
	margin-bottom: 30px;
	margin: -20px;
}

.imgs {
	width: 320px;
	margin: 10px;
	border: 1px dashed blue;
}

.foot {
	position: relative;
}

#cover_div {
	position: absolute;
	left: 0px;
	cursor: move;
}

.trans_can {
	display: block;
	margin: 0 auto;
}

#thankU{
	position: fixed;
	right: 5px;
	bottom: 5px;
	font-size: 14px;
	color: #FF0000;
}

#thankU:hover #thankU_again{
	display: block;
}

#thankU_again{
	display: none;
	position: absolute;
	bottom: 13px;
	right: 0;
}
